 

<footer id="footer">
  <div id="credits">
    <div class="row">
      <span class="eleven columns">
        A Pinterest-like Template for WordPress by <a href="http://www.cssigniter.com">cssigniter.com</a>
      </span>
    </div>
  </div>
</footer>