<section id="bottom-widget">
  <div class="row">
    <aside class="widget widget_ci_twitter_widget group twelve columns">
      <div class="twitter_update_list">
        <ul data-orbit>
          <li>
            <span>This is the twitter feed!</span>
            <a class="twitter-time" href="#">about 12 hours ago</a>
          </li>

          <li>
            <span>Great, I will prepare a few things this weekend so we have something to discuss!</span>
            <a class="twitter-time" href="#">about 11 hours ago</a>
          </li>

          <li>
            <span>thanx, always a work in progress :) btw i'm going to write down a few ideas about the regional meetup!</span>
            <a class="twitter-time" href="#">about 5 hours ago</a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</section> <!-- #bottom-widget -->

 